<section class="hero is-info">
    <div class="hero-body">
        <div class="container">
        <h1 class="title">
            作品編集
        </h1>
        </div>
    </div>
</section>

<%= render 'error', collection: @collection %>

<%= render 'form', collection: @collection %>

<%= render "devise/shared/footer" %>