<section class="hero is-info">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                使い方
            </h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="container border" style="background-color: skyblue;">
        <div class="terms has-text-centered" style="padding: 50px;">
            <strong>1.退会するには？</strong>
            <p>
                マイページにある「アカウント設定」を開いていただき、
                「退会する」をクリックしていただくと、可能です。
            </p>
        </div>
    </div>
</section>

<%= render "devise/shared/footer" %>

<!--  -->